.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #131921, #1f2e3d);
}

.auth-card {
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-card label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.auth-card input:focus {
  border-color: #febd69;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #febd69;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #f3a847;
}

.auth-card p {
  text-align: center;
  margin-top: 15px;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.hero {
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1607082349566-187342175e2f");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .auth-card {
    width: 90%;
  }
  .hero-content h1 {
    font-size: 24px;
  }
}
